#itineraryRowContainer {
    border: 1px black solid;
    display: flex;
    width: 100%;
    height: 100px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#itineraryRowLocationInfo {
    font-size: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#itineraryRowButtonContainer {
    margin-right: 5px;
}

.itineraryRowTitle {
    font-size: 10px;
}

.itineraryRowDataContainer {
    background-color: #E0E0E0;
    height: 150px;
    padding-top: 10px;
    padding-left: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.itineraryRowDataContainer h1 {
    display: block;
    font-size: 10px;
    margin-bottom: -25px;
}
